.navbar {
    height: 5rem;
   
}
.mb-3{
    background-color: rgb(63, 14, 64);
}
.navInfoTit{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 1.5rem;
}
.navInfo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;

}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-brand {
    color: white
}
.btn-outline-light {
  font-size: 1.3rem;
}