.searchPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.searchPageBody{
    display: flex;
    flex-wrap: wrap;
   padding: 30px;
   gap: 20px;
   justify-content: center;
   align-items: center;
}