.favPageBody{
    display: flex;
    flex-wrap: wrap;
   padding: 30px;
   gap: 20px;
   justify-content: center;
   align-items: center;
   background-color: #141414;
   min-height: 88vh;
}
.btn-close{
    align-self: end;
    color: white;
    font-size: 20px;
    
}
.cardFavs{
    /* background-color: rgb(17, 17, 17); */

}
.favMassage{
    color: white;
}
.navbar-light .navbar-toggler-icon{
    background-color: white;
}
.offcanvas-body{

}