.mainPageBody{
    display: flex;
    flex-wrap: wrap;
   padding: 30px;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.cardFav{
    background-color: rgb(17, 17, 17);
    height: 5rem;
    padding: 0rem 1rem;
}
.mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.d-block{
    width:100%
}
.topRatedTitle{
    align-self: self-start;
margin: 2rem 2rem;
}
.w-100{
    width:100%;
    height: 50%;
}
.slider{
    width: 80%;
   
}
.imgSlider{
    height: 20rem;
}
.moveTitleSldier{
    background-color: black;
}